<div class="container">

  <h1><%= @list.name %></h1>

  <% @bookmarks.each do |bookmark| %>
    <%= bookmark.comment %>
    <%= link_to "Delete review",
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>

  <h3>Add a movie</h3>

  <%= simple_form_for ([@list, @bookmark]) do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.button :submit, "Add to list" %>
  <% end %>

  <p><%= link_to "< Back to all lists", lists_path %></p>

</div>
